@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 20% 98%;
    --primary: 240 100% 67%;
    --primary-foreground: 240 100% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 20% 98%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
